@charset "UTF-8";
html {
	font-size: 13px;
	color: #303496;
}

body {
	font-size: 30px;
	background-color: #F5D300;
}


#header {
	position: relative;
	height: 70px;
	margin-top: 50px;
}

#logo {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%); /* 中心にずらす */
}
  
#logo img {
	max-width: 500px;  /* 最大幅を500ピクセルに設定 */
	height: auto;
}

#homeButton {
  position: absolute;
  right: 120px;
  top: 50%;
  transform: translateY(-50%); 
}
#homeButton a {
	text-decoration: none;
}

.info {
	margin-top: 70px;
	padding: 30px;
	background-color: #FFFFFF;
	text-align: center;
	border-radius: 50px;
	box-shadow: 4px 4px 20px gray;
}

a[name=nickname], a[name=meetingTime] {
	font-weight: bold;
	text-align: center;
	font-size: 50px;
}

.taxi {
	padding: 30px;
	color: #FFFFFF;
	background-color: #303496;
	text-align: center;
	border-radius: 50px;
	box-shadow: 4px 4px 20px gray;
}

/* タクシーの電話番号リンク */
.taxi a{
	color: #ffffff;
}

input[type=submit] {
	background-color: #303496;
	color: #FFFFFF;
	font-size:30px;
	height: 2.3em;
	width: 7em;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 2px 2px 4px gray;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 20p;     /* 追加 */
}

select[name=selectPhrase] {
	width: 75%;
	box-sizing: border-box;
	height: 70px;
	border-radius: 40px;
	border: 2px solid #303496;
	font-size: 30px;
	margin-top: 10px;
	margin-left: 10px;
}

/* 地図 */
#meeting_point {
	height: 500px;
}

/* 地図上のピンのポップアップ */
.leaflet-popup-content {
	text-align: center;
	font-size: 20px;
	width: 150px;
}

/* タクシー会社名とタクシー電話番号を1行で表示 */
p[name="taxiCompany"], p[name="callTaxi"] {
	display: inline;
}

/* チャットログ範囲 */
div[name="chatLog"] {
	height: 400px;
	background-color: #FFFFFF;
	padding: 20px;
	overflow-y: auto;
	border-radius: 70px;
	box-shadow: 4px 4px 20px gray;
	min-height: 400px;
}

/* 吹き出し内のpタグ */
.fukidashi p {
	margin: 0;
	font-size: 30px;
}

/* 相手が送信したチャットの吹き出し */
.partner_fukidashi {
	position: relative;
	display: inline-block;
	margin-left: 15px;
	padding: 10px;
	border: 2px solid #303496;
	border-radius: 9999px;
	background-color: #ffffff;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
}
.partner_fukidashi::before {
	content: "";
	position: absolute;
	top: 43%;
	left: 0;
	border-style: solid;
	border-width: 0 15px 18px 0;
	border-color: transparent #303496 transparent transparent;
	translate: -100% -50%;
}
.partner_fukidashi::after {
	content: "";
	position: absolute;
	top: 43%;
	left: 0;
	border-style: solid;
	border-width: 0 10.7px 12.9px 0;
	border-color: transparent #ffffff transparent transparent;
	translate: -100% calc(-50% - 0.6px);
}

/* ログインユーザーが送信したチャットの吹き出し */
.my_fukidashi {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	padding: 10px;
	border: 2px solid #303496;
	border-radius: 9999px;
	background-color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
}
.my_fukidashi::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	border-style: solid;
	border-width: 0 0 18px 15px;
	border-color: transparent transparent transparent #303496;
	translate: 100% -50%;
}
.my_fukidashi::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	border-style: solid;
	border-width: 0 0 12.9px 10.7px;
	border-color: transparent transparent transparent #ffffff;
	translate: 100% calc(-50% - 0.6px);
}
/* ログインユーザーが送信したメッセージ */
.my_chat {
	text-align: right;
}

/* 地図上のいらないUI非表示 */
.leaflet-routing-container {
	display: none !important;
}