@charset "UTF-8";

/* ハンバーガーメニュー */
.menuBtn {
	width: 30px;
	height: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	position: relative;
	z-index: 1100;
}

.menuBtn span {
	display: block;
	height: 4px;
	background-color: #333; /*　線の色　*/
}

/* モーダル全体 */
.menuModal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	align-items: center;
	justify-content: center;
}

/* モーダル表示時 */
.menuModal.show {
	display: flex;
}

/* モーダルの中身 */
.modal-content {
	background: #fff;
	padding: 30px 20px;
	width: 280px;
	max-width: 90%;
	box-sizing: border-box;
	position: relative;
}

/* メニューリスト */
.menu-list {
	list-style: none;
	padding: 0;
	margin-top: 40px;
}

.menu-list li {
	margin-bottom: 20px;
}

.menu-list a {
	text-decoration: none;
	font-size: 18px;
	color: #0f5474;
}

/*ホバー時に下線*/
.menu-list a:hover {
	text-decoration: underline;
}