@charset "UTF-8";
html {
  font-size: 13px;
  color: #303496;
}

body {
  font-size: 30px;
  background-color: #F5D300;
}


#header {
  display: flex;
  align-items: center;
  justify-content: center; /* ロゴを中央に */
  height: 70px;
  margin-top: 50px;
  position: relative;
}

#logo {
  margin-right: 30px;
}
  
#logo img {
  max-width: 500px;  /* 最大幅を500ピクセルに設定 */
  height: auto;
}

/* ホームボタンはロゴの右に寄せる */
#homeBtn {
  font-size: 40px;
  color: #303496;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.form_flame {
	width: 680px;
	margin: 100px auto 20px auto;
	padding: 40px 80px 40px 80px;
	background-color: #FFFFFF;
	border-radius: 50px;
	box-shadow: 4px 4px 20px gray;
}

.list {
	width: 600px;
	margin: 50px auto 20px auto;
	padding: 70px 120px 60px 120px;
	background-color: #FFFFFF;
	border-radius: 90px;
	box-shadow: 4px 4px 20px gray;
}

/* モーダル画面 */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;
}

/* モーダル表示時 */
.modal.show {
	display: flex;
	justify-content: center; /* 水平方向中央 */
	align-items: center;     /* 垂直方向中央 */
}

/* モーダルの中身 */
.modal-content {
	background-color: #ffffff;
	width: 80%;
	max-width: 600px;  /* 必要に応じて幅の上限を設定 */
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.3);
	border-radius: 80px;
	box-sizing: border-box;
}

input[name=search] {
  background-color: #303496;
  color: #FFFFFF;
  font-size:30px;
  height: 2.5em;
  width: 5em;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 2px 4px gray;
  margin-left: 50px;  /* 追加 */
}

input[name=stand] {
  background-color: #303496;
  color: #FFFFFF;
  font-size:40px;
  height: 5em;
  width: 5em;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 2px 2px 4px gray;
  margin-right: 50px;
  margin-left: auto;     /* 追加 */
  display: block;
}

input[name=same_gender], input[name=smoking],input[name=talking] {
  transform: scale(2.5); 
  margin: 10px 10px 10px 20px;	
}