html {
  font-size: 13px;
  color: #303496;
}

body {
  font-size: 35px;
  background-color: #F5D300;
}

#logo {
  display: flex;
  justify-content: center;
  margin: 160px auto 150px auto;
}
img {
  max-width: 500px;  /* 最大幅を500ピクセルに設定 */
  height: auto;
}

.form_flame {
	width: 500px;
	margin:  auto;
	padding: 50px 100px 40px 100px;
	background-color: #FFFFFF;
	border-radius: 90px;
	box-shadow: 4px 4px 20px gray;
}

h1 {
	text-align: center;
	font-size: 50px;
	margin: 0 auto 60px auto;
}

input[type=submit] {
  background-color: #303496;
  color: #FFFFFF;
  font-size:30px;
  height: 2.5em;
  width: 7em;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 2px 4px gray;
  display: block;       /* ブロック要素に変換 */
  margin: 50px auto 20px auto;
} 

input[name=name], input[name=nickname], input[name=address] {
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  border-radius: 40px;
  border: 2px solid #303496;
  display: block;
  font-size: 30px;
}
input[name=name] {
	margin-bottom: 5px;
}
input[name=nickname] {
	margin-top:5px;
}

input[name=gender] {
  transform: scale(2.5); 
  margin: 0px 20px 0px 30px;
}

input[name=noSmoking] {
	transform: scale(2.5);
	margin: 50px 20px 10px 30px;
}

input[name=noTalking], input[name=sameGender] {
  transform: scale(2.5); 
  margin: 10px 20px 10px 30px;	
}

#output1, #output2, #output3 {
  color: red;
  height: 1.3em;
  font-size: 28px;
  margin-bottom: 8px;
}